body {
    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    color: #151870;
}

.leftside,
.rightside {
    height: 100vh;
    width: 100%;
}

.mobile-version {
    display: none;
}

.logo-img {
    margin: 15px 0 65px 0;
}

.form-section {
    position: fixed;
}

.boost-heading {
    font-family: 'Kanit', sans-serif;
    font-weight: medium;
}

h2 {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}

.rightside {
    padding: 45px;
    margin-right: 125px;
}

.form-control-lg {
    border: 1px solid #EEE9F5;
    background-color: #F4F3F5;
    color: #8588D7;
    width: 390px;
}

.form-group {
    margin-top: 15px;
}

label {
    font-weight: bold;
}

.btn {
    background-color: #7335CB;
    color: #ffffff;
    padding: 5px 121px 5px 105px;
}

input::placeholder {
    color: #8588D7;
}

.main-picture {
    margin-top: 60px;
}

.top-bg {
    position: absolute;
    z-index: -99;
}

.bg-bottom-img {
    position: absolute;
    bottom: 1%;
    left: 35%;
    z-index: -99;
}

.bg-bottom-elements {
    position: absolute;
    left: 55%;
    z-index: -80;
    bottom: 15%;
}

.content:nth-child(2) {
    margin-top: 0;
}

.content {
    padding-left: 25px;
    margin-top: 100px;
}

.pink-bg {
    font-weight: bold;
    background-image: url(/img/pinkbg.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10px;
}

p {
    margin-top: 35px;
}

.p-head {
    margin: 55px 0 55px 0;
}

.very-bottom {
    display: flex;
    justify-content: center;
}

.early-access-words {
    position: absolute;
    left: 3%;
}

.modal-header {
    background-color: #7335CB;
}

.modal-body {
    text-align: center;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

.close {
    position: absolute;
    right: 3%;
    outline-style: none;
}

button.close {
    padding: 0;
    background-color: #fff;
    border-radius: 0 0 0 50%;
    -webkit-appearance: none;
    opacity: 1;
}

.very-bottom {
    margin-bottom: 145px;
    margin-left: 65px;
}

footer {
    background-color: #F5F7FA;
}

.footer-text {
    margin: 2px;
}

.fixed-form {
    display: none;
}

@media screen and (max-width: 500px) {
    body {
        font-size: 1.5rem;
    }

    .content {
        padding: 10px;
        margin-top: 65px;
    }

    h2 {
        font-size: 1.5rem;
        margin-top: 20px;
    }

    .leftside,
    .rightside {
        display: none;
    }

    .mobile-version {
        display: block;
    }

    .mobile-heading {
        font-size: 24px;
        text-align: center;
        margin: 45px 5px 10px 5px;
        font-weight: bold;
    }

    .mobile-paragraph {
        text-align: center;
        font-size: 1.5rem;
    }

    .mobile-pyxis-bg {
        background-image: url(/img/pinkbg.png);
        background-size: cover;
        font-weight: bold;
        padding: 5px;
    }

    .mobile-footer {
        background-color: #F5F7FA;
        font-size: 16px;
        text-align: center;
        margin: 0;
    }

    .mobile-footer p {
        margin: 0;
        padding: 0;
    }

    .fixed-form {
        background-color: #c4c4c4;
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
    }

    .mobile-form {
        display: flex;
        flex-direction: row;
        padding: 5px;
    }

    .mobile-label {
        font-size: 20px;
        font-weight: 500;
    }

    .form-control-mobile {
        border: none;
    }

    .mobile-btn {
        margin-bottom: 10px;
    }
}